/target
/classes
/checkouts
profiles.clj
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.calva/
/.classpath
/.clj-kondo/
/.cpcache/
/.lsp/
/.project
/.rebel_readline_history
/.settings/
/README.html
/pom.xml.asc
