{:paths ["src" "target/classes"]
 :deps {
        org.clojure/clojure           {:mvn/version "1.11.1"}}
 :aliases {


           :build {:deps {io.github.seancorfield/build-clj
                          {:git/tag "v0.4.0" :git/sha "54e39ae"}}
                   :ns-default build}

           :run-tests {:main-opts ["-m" "kaocha.runner"]}
           :test {:extra-paths ["test"]

                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}
                               org.clojure/test.check {:mvn/version "1.1.0"}}}}}
