{:paths ["src" "target/classes"]
 :deps {org.clojure/clojure           {:mvn/version "1.12.4"}}
 :aliases {:build {:deps {io.github.seancorfield/build-clj
                          {:git/tag "v0.4.0" :git/sha "54e39ae"}}
                   :ns-default build}
           :run-tests {:main-opts ["-m" "kaocha.runner"]}
           :test {:extra-paths ["test"]

                  :extra-deps {org.scicloj/metamorph.ml {:mvn/version "1.3.0"}
                               scicloj/tablecloth {:mvn/version "7.067"}
                               lambdaisland/kaocha {:mvn/version "1.71.1119"}
                               org.clojure/test.check {:mvn/version "1.1.0"}}}}}
